
img{
	border-radius: 50%;
	margin: 1.5em;

}
.jumbotron{
	
	background-color:	#01DF74 !important;
}
.player1{
	width: 20%;
}

.form{
	width: 100%;
}
body{
	font-family: 'Cabin Sketch', cursive!important;
	font-size: 2em;
}
.nav li{
	display: inline;
	float: left;
	padding: 1em;
}
.header-container{
	background-color: gray!important;
	border-radius: 3px;
	width: 100%;
	margin: 0 auto;
}
.navbar{
	background-color:#00BFFF!important;
}
h1{
	margin-left: 380px!important;
}
strong{
	font-size: 3em;
}
.glyphicon{
	float: right;
}
.counting{
	margin-left: 1em
}
